.auth-container {
    h1 {
        font-size: 3.5rem;
        text-align: center;
        padding: 2rem 0;
        letter-spacing: 0.5rem;
        font-family: "Roboto Mono", monospace;
    }
    .user-type {
        width: 25rem;
        height: 25rem;
        margin: auto;
        font-size: 1.5rem;
        padding: 1rem;
        background: var(--Lightest_Slate);
        position: relative;
        border-radius: 1rem;
        box-shadow: 0 2px 4px 0 rgba(31, 38, 135, 0.37);
        h1 {
            text-align: center;
            color: var(--Lighest_Backround);
            font-weight: 400;
            width: auto;
            margin: auto;
            margin-bottom: 1rem;
        }
        button {
            color: white;
            position: absolute;
            bottom: 2rem;
            right: 1rem;
            outline: none;
            border: none;
            padding: 1rem 0.5rem;
            border-radius: 0.5rem;
            cursor: pointer;
            font-family: "Roboto", sans-serif;
            left: 1rem;
            font-size: 1.5rem;
        }
    }
}