.filter-input-div {
    label {
        font-size: 1.75rem;
    }
    p {
        font-size: 1.2rem;
    }
    #demo-simple-select-helper {
        font-size: 1.5rem;
        color: red;
    }
    fieldset legend span {
        font-size: 1.5rem;
    }
}

.MuiMenu-list {
    display: flex;
    flex-direction: column;
    li {
        font-size: 1.5rem;
    }
}

// .filter-input-div input {
//     outline: none;
//     height: 100%;
//     font-size: 1.75rem;
//     padding: 0 0.5rem;
// }
.filter-div {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row !important;
    gap: 1rem;
    align-self: center;
}

.filter-div span {
    font-size: 1.5rem;
}

.modal {
    input {
        font-size: 1.5rem;
    }
    legend span {
        font-size: 1.5rem;
    }
    button {
        outline: none;
        border: none;
        padding: 1rem 0.5rem;
        border-radius: 0.5rem;
        cursor: pointer;
        font-family: "Roboto", sans-serif;
        font-size: 1.5rem;
    }
}